<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiAddress</key>
	<string>https://api.parse.com</string>
	<key>apiApplicationId</key>
	<string>SMJ9pRBIcsunCQsQGkPAZcjTuyKVhJ1JrAz19S8a</string>
	<key>apiKey</key>
	<string>tegMOYKLGXLIrCK5NUYUOA8WG8ZP3l5gvZIekPUC</string>
</dict>
</plist>
